body {
  margin: 60px;
  background: #111;
}
.cinema-seats {
  display: flex;
}
.cinema-seats .seat {
  cursor: pointer;
}
.cinema-seats .seat:hover:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.cinema-seats .seat.active:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 194, 69, 0.6);
  border-radius: 7px;
}
.left .cinema-row {
  transform: skew(-15deg);
  margin: 0 6px;
}
.left .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  margin-bottom: 10px;
  transform: skew(20deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.left .row-2 {
  transform: skew(-13deg);
}
.left .row-2 .seat {
  transform: skew(18deg);
}
.left .row-3 {
  transform: skew(-12deg);
}
.left .row-3 .seat {
  transform: skew(16deg);
}
.left .row-4 {
  transform: skew(-11deg);
}
.left .row-4 .seat {
  transform: skew(15deg);
}
.left .row-5 {
  transform: skew(-10deg);
}
.left .row-5 .seat {
  transform: skew(12deg);
}
.left .row-6 {
  transform: skew(-9deg);
}
.left .row-6 .seat {
  transform: skew(10deg);
}
.left .row-7 {
  transform: skew(-7deg);
}
.left .row-7 .seat {
  transform: skew(8deg);
}
.right {
  margin-left: 70px;
}
.right .cinema-row {
  transform: skew(7deg);
  margin: 0 6px;
}
.right .seat {
  width: 35px;
  height: 50px;
  border-radius: 7px;
  background: linear-gradient(
    to top,
    #761818,
    #761818,
    #761818,
    #761818,
    #761818,
    #b54041,
    #f3686a
  );
  margin-bottom: 10px;
  transform: skew(-8deg);
  margin-top: -32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.right .row-2 {
  transform: skew(9deg);
}
.right .row-2 .seat {
  transform: skew(-10deg);
}
.right .row-3 {
  transform: skew(10deg);
}
.right .row-3 .seat {
  transform: skew(-12deg);
}
.right .row-4 {
  transform: skew(11deg);
}
.right .row-4 .seat {
  transform: skew(-15deg);
}
.right .row-5 {
  transform: skew(12deg);
}
.right .row-5 .seat {
  transform: skew(-16deg);
}
.right .row-6 {
  transform: skew(13deg);
}
.right .row-6 .seat {
  transform: skew(-18deg);
}
.right .row-7 {
  transform: skew(15deg);
}
.right .row-7 .seat {
  transform: skew(-20deg);
}

.booked,
.seatsbooked,
.hochuki,
.yekarihain,
.yehochukihai {
  color: white;
}
.row {
  color: white;
  margin-top: -130%;
  font-size: 32px;
}
.row1 {
  color: white;
  font-size: 32px;
  margin-top: -120%;
}
.columns {
  color: white;
  margin-bottom: 7px;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Montserrat";
  scroll-behavior: smooth;
}
.same {
  background: blue !important;
  cursor: default !important;
  pointer-events: none !important;
}
.different {
  background: yellow !important;
  cursor: default !important;
  pointer-events: none !important;
}

.screen_out {
  display: flex;
  background-color: rgb(41, 38, 38);
  height: 400px;
  width: 800px;
  position: relative;
  margin-bottom: 60px;
  border-radius: 10px;
}
.screen_in {
  display: flex;
  background-color: dimgrey;
  height: 96%;
  width: 98%;
  margin: 1% 1%;
  border-radius: 10px;
}
.theatre {
  display: flex;
  position: relative;
}
.btn {
  position: relative;
  margin-top: 10px;
  border: none;
  font-size: 24px;
  padding: 1% 4%;
  border-radius: 30px;
  background: #7cb715;
  color: white;
  font-family: Montserrat, "sans-serrif";
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.poorahall {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0%);
}
.info {
  position: absolute;
  right: 0px;
  width: 20vw;
}
.seatsbooked,
.hochuki {
  font-size: 18px;
}
.yehochukihai {
  margin-top: 200px;
}
@media only screen and (max-width: 1000px) {
  .poorahall {
    top: 25%;
    right: 50%;
  }
  .btn {
    margin-top: 10%;
  }
  .info {
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
  }
}
html h1 {
  font-size: 28px;
  color: white;
}
#log {
  width: 50vw;
  margin-left: 25%;
}
#log button {
  margin-top: 10px;
  border: none;
  font-size: 24px;
  padding: 1% 4%;
  border-radius: 30px;
  background: #7cb715;
  color: white;
  font-family: Montserrat, "sans-serrif";
  cursor: pointer;
}
#thanku {
  width: 50vw;
  margin-left: 25%;
}
#thanku button {
  margin-top: 10px;
  border: none;
  font-size: 24px;
  padding: 1% 4%;
  border-radius: 30px;
  background: #7cb715;
  color: white;
  font-family: Montserrat, "sans-serrif";
  cursor: pointer;
}
#thanku h1 a {
  text-decoration: none;
  color: #7cb715;
}
*:focus {
  outline: none;
}
@media only screen and (max-width: 1700px) and (min-width: 1001px) {
  .poorahall {
    right: 55%;
  }
  .info h1 {
    font-size: 18px;
  }
  .info {
    width: 20vw;
  }
}
