* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Montserrat, "sans-serrif";
}
body {
  background-color: #f8f8ff;
  overflow-x: hidden;
}
.ekcheez {
  min-height: 100vh;
  width: 100vw;
  padding: 5% 10%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7cb715;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7cb715;
}
#home {
  background-image: url(./images/landing.png);

  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover;

  background-color: #7cb715;
}
.hometext {
  width: 80vw;
  height: auto;
}
.bookkarlo {
  position: absolute;
  bottom: 10%;
  border-radius: 200px;
  background-color: transparent;
  border: 3px solid white;
  padding: 2% 4%;
  cursor: pointer;
  transform: translateX(-50%);
  font-size: 32px;
  color: white;
}
.bookkarlo:hover {
  background-color: white;
  color: #11e95b;
  transition: 0.3s linear;
}
.pehle {
  position: absolute;
  bottom: 10%;
}
.headings {
  color: #7cb715;
  font-size: 4rem;
  font-weight: 500;
}
.left {
  width: 50%;
  display: inline-block;
}
.right {
  width: 50%;
  float: right;
  display: inline-block;
}
.left p {
  margin-top: 5%;
  font-size: 1.4rem;
  line-height: 44px;
}
.right img {
  width: 60%;
  float: right;
  height: auto;
  display: inline-block;
  margin-left: 20%;
  margin-top: 18%;
}
.right img:hover {
  box-shadow: rgba(124, 183, 21, 0.6) 20px 20px;
  transition: 0.4s ease-in-out;
}
#cast {
  background-color: white;
}
#contact {
  background-color: #f1f1f1;
}
#cast img {
  width: 20%;
  height: auto;
  margin: 40px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
@media only screen and (max-width: 1000px) {
  #home h1 {
    color: blue;
  }
  * {
    font-size: 10px;
  }
  .left p {
    line-height: 20px;
  }
  .left {
    display: block;
    width: 100%;
  }
  .right {
    display: block;
    float: none;
    width: 100%;
  }
  .right img {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    float: none;
  }
  #cast img {
    width: 100%;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #cast .headings {
    margin-bottom: px;
  }
  .hometext {
    height: 30vh;
    width: auto;
    margin-left: -20%;
  }
  .bookkarlo {
    position: relative;
    margin-left: 50%;
    cursor: pointer;
    padding: 2% 4%;
    transform: translateX(-50%);
    font-size: 22px;
    color: white;
  }
  .bookkarlo:hover {
    background-color: white;
    color: #11e95b;
    transition: 0.3s linear;
  }
  .pehle {
    position: relative;
    margin-top: 70%;
  }
}

.container {
  width: 280px;
  height: 500px;
  margin: 30px auto;
  display: inline-block;
  margin-right: 200px;
}

.card {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(124, 183, 21, 0.2);
}

.card-head {
  position: relative;
  height: 252px;
  background: #fa782e;
  background: linear-gradient(135deg, #7cb715 8%, #b0eb4b 83%);
  border-radius: 25px 25px 0 0;
}

.card-logo {
  width: 200px;
  height: 70px;
}

.product-img {
  position: absolute;
  left: 50px;
  margin-top: -16px;
  margin-left: 50px;
}

.product-detail {
  padding: 0 20px;
  color: #fff;
}

.product-detail h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.product-detail p {
  text-align: start;
  width: 150px;
  font-size: 12px;
  float: left;
  font-weight: 600;
  color: #332d3d;
}
.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 255px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #11e95b;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: #000;
  padding-top: 2%;
  cursor: pointer;
}
.ul-size li.active {
  background: #f35e3d;
  color: #fff;
  background-position: 10% 0%;
}

.product-size:before,
.product-size:after {
  content: "";
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

.ul-color li {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li.orange {
  background: #f35e3d;
}

.ul-color li.green {
  background: #11e95b;
}

.ul-color li.yellow {
  background: #ffd414;
}

.ul-color li.active:after {
  position: absolute;
  content: "";
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -13px;
  margin-top: -5px;
}

.product-price {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price b {
  margin-left: 5px;
  font-size: 18px;
}
.row {
  margin-left: 0%;
}
