
@media only screen and (max-width: 1000px){
	
	.conatainer{
		margin-left: 0;
		width: 100%;
		font-size: 18px;
	}

	.txt{
		font-size: 12px;
		margin: 0 50% 0 5%;
		text-align: start;
	}

	.img{
		margin: 8% 0 5% 1.5%;
		float: none;
		align-content: center;
	}
	.txt-h1{
		margin: 0 40% 5% -7%;
		font-size: 40px;
		text-align: center;
	}
	.cast-head{
		margin: 0 40% 5% 0%;
		font-size: 40px;
		text-align: start;
	}
	.column{
		width: 100%;
		margin: 0 0 0 -16%;
		float: left;
	}
	.column0{
		width: 100%;
		margin: 0 0 0 -16%;
		float: left;
	}
	.yo{
		width: 100%;
		margin: 0;
		float: left;
	}
	.n4{
		margin: 0;
	}
}
