@media only screen and (max-width: 320px){
	
	.conatainer{
		margin-left: 0;
		width: 100%;
		font-size: 18px;
	}

	.txt{
		max-width: 100%;
		font-size: 10px;
		margin-left: 0;
		padding: 0;
	}

	.txt-h1
}

@media only screen and (width: 360px){

} 

@media only screen and (width: 375px){

}

@media only screen and (width: 414px){

}

@media only screen and (width: 1024px){

}

@media only screen and (width: 1280px){

}
