html {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
body {
  background-image: url(../images/landing.png);

  background-position: center center;

  background-repeat: no-repeat;

  background-size: cover;

  background-color: #7cb715;
  font-family: "Montserrat", sans-serif;
  padding: 50px;
}

.logo {
  display: none;
}
.logo-banner img {
  margin-left: 50%;
  transform: translateX(-50%);
}
.logo-banner2 {
  display: none;
}
.logo-banner3 {
  display: none;
}

.logo2 {
  display: none;
}

.logo3 {
  display: none;
}

.logo4 {
  display: none;
}

.form-container {
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  height: 350px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}
*:focus {
  outline: none;
  border: 2px solid black;
}
h1 {
  width: 70%;
  color: #777;
  font-size: 32px;
  margin: 28px auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  /*padding-top: 40px;*/
}
.form {
  /*padding: 15px;*/
  text-align: center;
}
input {
  margin-left: auto;
  margin-right: auto;
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border 0.2s, background-color 0.2s;
}

.form-container .field::placeholder {
  color: black;
  font-family: "Montserrat", sans-serif;
  opacity: 15%;
}
.form-container .field {
  background-color: #ecf0f1;
  font-family: "Montserrat", sans-serif;
}
.form-container .field:focus {
  font-family: "Montserrat", sans-serif;
  outline-offset: 0;
}
.form-container .btn {
  background-color: #413756;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}
.form-container .btn:hover,
.form-container .btn:active {
  background-color: #332d3d;
  font-family: "Montserrat", sans-serif;
}
